.container-banner {
    width: 100vw;
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
    overflow: hidden;
}

.banner2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-left: 19%;
    align-items: center;
    padding-bottom: 5%;
    overflow: hidden;
}

.banner2 .cta-home {
    margin-top: 20%;
}

.banner-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.cta-home {
    width: 250px;
    height: 50px;
    background-color: #ff151b;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-home p {
    font-family: "Montserrat";
    font-size: 1.3em;
    margin: 0 !important;
    font-weight: bold;
    color: #fff;
}

.cta-home:hover {
    cursor: pointer;
}

.cta-home:hover .svg-arrow {
    margin-right: 0;
}

.cta-home .svg-arrow {
    margin-right: 5%;
    transition: all 0.5s;
}

.carousel-left {
    transform: rotateX(180deg);
}

.container-promo {
    width: 78vw;
    height: 80vh;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
}

.container-brand {
    width: 78vw;
    height: 100vh;
    margin: 10% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-brand p,
.container-products p,
.container-promo p {
    font-family: "Source Sans Pro";
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

.brand-wrapper {
    width: 100%;
    height: 85%;
}

.brand-grid {
    width: 100%;
    height: 100%;
}

.brand {
    background: #261830;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.brand p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 500;
    opacity: 0;
    transition: all 1s;
}

.brand-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient( 270deg, rgba(255, 21, 27, 0.47102591036414565) 0%, rgba(22, 13, 28, 0) 73%);
    transition: all 2s;
    opacity: 0;
    z-index: 2;
}

.brand:hover .brand-bg {
    opacity: 1;
}

.brand:hover {
    cursor: pointer;
}

.brand:hover p {
    opacity: 0.6;
}

.container-brand h1,
.container-promo h1,
.container-products h1 {
    font-family: "Montserrat";
    font-size: 3vw;
    color: #fff;
    font-weight: 800;
}

.brand-img {
    width: 50%;
    filter: brightness(0) invert(1);
    z-index: 3;
}

.svg-ornament {
    position: absolute;
    left: 0;
    top: -50%;
    z-index: -999;
}

.row-brand {
    height: 50%;
}

.col-brand {
    margin: 1%;
}

.brand-carousel {
    display: flex;
    align-items: center;
}

.item-wrapper {
    width: 100%;
    height: 85%;
}

.item-grid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.item {
    width: 23%;
    height: 80%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    margin: 1%;
}

.item-img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.item-img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient( 0deg, rgba(255, 21, 27, 0.47102591036414565) 0%, rgba(22, 13, 28, 0) 56%);
    opacity: 0.3;
    z-index: 1;
    transition: all 0.5s;
}

.item-img:hover {
    cursor: pointer;
}

.item-img:hover .item-img-bg {
    opacity: 1;
}

.item-img img {
    width: 80%;
    z-index: 2;
}

.item-details {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.item-detail {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cta-cart {
    width: 50px;
    height: 50px;
    background-color: #ff151b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5% !important;
    z-index: 3;
}

.cta-cart svg {
    transition: all 0.5s;
}

.cta-cart:hover {
    cursor: pointer;
}

.cta-cart:hover svg {
    transform: rotateZ(-10deg);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 2%;
}

.gambar-brand {
    position: absolute;
    right: 5% !important;
    bottom: 5% !important;
    filter: brightness(0) invert(1);
    width: 28% !important;
}

.gambar-intel {
    width: 20% !important;
    white-space: pre;
}

.category {
    opacity: 0.4 !important;
}

.item p {
    margin: 0 !important;
    font-family: "Montserrat";
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.price {
    color: #73be73 !important;
}

.container-products {
    width: 78vw;
    margin: 20% 0 10% 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-products .subtitle {
    margin-bottom: 10%;
}

.row-products {
    width: 100%;
    display: flex;
}

.row-products .item {
    height: 60vh;
}

span a {
    font-size: 0.7em;
    text-decoration: none;
    color: #ff151b;
    margin-left: 0.5em;
}

span a:hover {
    color: #da141a;
    text-decoration: none;
}

.col-promo {
    background-color: #160d1c;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-promo h1 {
    font: 800 1.5em "Montserrat";
    margin: 0 !important;
}

.col-promo .desc {
    font: 600 1.2em "Source Sans Pro";
    margin: 0 !important;
}

.col-promo .code {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

.col-promo .line {
    flex-grow: 1;
    height: 2px;
    background-color: #ff151b;
    margin: 0 3%;
}

.col-promo .expired {
    font: 500 1em "Source Sans Pro";
    margin: 0 !important;
}

.potongan {
    font: 500 1em "Montserrat" !important;
    color: #d3a13b !important;
}
