* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #261830;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #160d1c;
}

::-webkit-scrollbar-thumb {
    background-color: #ff151d7e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.container-header {
    width: 78vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    animation-duration: 0.5s;
}

img {
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.433));
}

.container-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #ff151b;
    border-right: solid 2px #ff151b;
    padding: 0 0 0 1%;
    -webkit-box-shadow: 0px 11px 17px -2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 11px 17px -2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 11px 17px -2px rgba(0, 0, 0, 0.35);
}

.link-wrapper {
    display: table;
    width: 80%;
    height: 100%;
    position: relative;
}

.container-nav a {
    font-family: "Montserrat";
    font-weight: bold;
    color: #261830;
    text-align: center;
    text-decoration: none;
}

.container-nav a {
    margin: 0 2.5%;
}

.svg-box {
    width: 43px;
    height: 43px;
    background-color: #261830;
    border: 2px solid #261830;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1%;
    transition: all 0.5s;
    position: relative;
}

.link-wrapper a {
    color: #261830;
    font-size: 1vw;
    font-family: "Montserrat";
    font-weight: 800;
    transition: all 0.5s;
    height: 100%;
    width: 10%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.container-notifCart {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0;
    z-index: -3;
    background-color: #160d1c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ff151b;
    font: 600 1.5em "Montserrat";
}

.link-wrapper a:not(#searchButton):hover {
    background-color: #261830;
    border-color: #261830;
    color: #ff151b;
}

.active-link {
    background-color: #261830;
    border-color: #261830;
    color: #ff151b !important;
}

.svg-box p {
    position: absolute;
    right: 0;
    top: 0;
    color: #ff151b;
    font-size: 12px;
    font-family: "Montserrat";
    background-color: #261830;
}

.svg-box svg {
    transition: all 0.5s;
}

.svg-box:hover {
    background-color: #ff151b;
    cursor: pointer;
}

.svg-box:hover .fill-svg {
    fill: #261830;
}

.container-msg {
    min-height: 10vh;
    background-color: #ff151b;
    position: fixed;
    right: 2%;
    bottom: -100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    font: 700 1.3em "Montserrat";
    color: #160d1c;
    z-index: 99999;
}

#searchButton {
    height: 100%;
    padding-top: 1%;
}

#searchButton:hover {
    cursor: pointer;
}

#search {
    display: inline-block;
}

.container-notif {
    width: 15%;
    position: absolute;
    right: -7%;
    top: 100%;
    display: none;
}

.notif-item {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    border-bottom: solid 1px #ff151d67;
    background-color: #160d1c;
    transition: border 0.5s;
    opacity: 0;
}

.notif-item:not(:last-child):hover {
    border-bottom: solid 3px #ff151d;
    cursor: pointer;
}

.notif-item:last-child {
    background-color: #a31015;
    border: solid 2px #160d1c;
}

.notif-item:last-child:hover {
    border-bottom: solid 3px #160d1c;
    cursor: pointer;
}

.notif-title {
    width: 100%;
    font: 500 0.8em "Source Sans Pro" !important;
    color: #fff;
    margin: 0 !important;
    text-align: center;
}

a.notif-title {
    color: #fff !important;
}

.notif-link:hover {
    cursor: pointer;
}

.bell {
    transition: all 0.5s;
}

.notif-link:hover .bell {
    fill: #ff151d !important;
    color: #ff151d;
}

.container-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #160d1c;
    overflow: hidden;
}